.service-icon {
    display: block;
    overflow: hidden;
    background: transparent url(../images/services/other.png) no-repeat;
    padding-left: 20px;
    min-height: 18px;
    min-width: 16px;
}
